body{
  background-color: #FFAA5A;
  font-family: 'Karla', sans-serif;
  color: #424242;
}

.page{
  margin: 50px auto;
  width: 70%;
  background-color: #fff;
  border-color: #FFF05A;
  border-style: solid;
  border-width: 10px;
  border-radius: 30px;
  padding: 50px;
}

.page-header{
  margin-bottom: 20px;
}
  .page-header h2{
    /* float: left; */
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: #191919;
    margin-bottom: 20px;
  }

  .page-header .student-search{
  }

    .page-header .student-search input{
      border-radius: 5px;
      border: 1px solid #eaeaea;
      padding: 8px 15px;
      font-size: 15px;
      font-family: 'Karla', sans-serif;
      float: right;
    }

    .page-header .student-search select{
      border-radius: 5px;
      border: 1px solid #eaeaea;
      padding: 8px 15px;
      font-size: 15px;
      /* background-color: #FFAA5A;
      color: #fff; */
      font-family: 'Karla', sans-serif;
      float: left;
    }

    .page-header .student-search label{
      /* border-radius: 5px;
      border: 1px solid #eaeaea; */
      padding: 8px 15px;
      font-size: 15px;
      /* background-color: #FFAA5A;
      color: #fff; */
      font-family: 'Karla', sans-serif;
      float: left;
    }

.student-list{}

  .student-item{
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eaeaea;
  }

    .student-details{
      width: 50%;
      float: left;
    }

      .student-details .avatar{
        width: 40px;
        height: auto;
        border-radius: 20px;
        float: left;
        margin-right: 14px
      }

      .student-details h3{
        margin: 4px 0 2px 0;
        font-weight: bold;
        color: #FF785A;
      }

      .student-details .email{
        color: #424242;
        font-size: 14px;
      }


    .joined-details{
      width: 50%;
      float: left;
      text-align: right;
    }

      .joined-details .date{
        margin-top: 15px;
        display: block;
        font-size: 14px;
        color: #424242;
      }

  .student-item:last-child{
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

.pagination{
  margin: 40px 0 0 0;
  text-align: center;
}
 
  .pagination li{
    display: inline;
  }

    .pagination li a{
      border: 1px solid #eaeaea;
      border-radius: 5px;
      padding: 4px 9px;
      text-decoration: none;
      color: #FF785A;
    }

    .pagination li a.active,
    .pagination li a:hover{
      background-color: #FFAA5A;
      color: #fff;
    }